name: rb-mt4

task_name: rb-mt4
lazy_eval: True

shape_meta: &shape_meta
  obs:
    front_rgb:
      shape: [3, 128, 128]
      type: rgb
    wrist_rgb:
      shape: [3, 128, 128]
      type: rgb
    overhead_rgb:
      shape: [3, 128, 128]
      type: rgb
    fused_pointcloud:
      shape: [512, 3]
      type: pointcloud
    fused_dino:
      shape: [512, 6]
      type: dino_pointcloud
    joint_positions:
      shape: [7]
      type: robot_state
    gripper_joint_positions:
      shape: [2]
      type: robot_state
  action:
    shape: [9]  # 7 dof + 2 gripper


env_runner:
  _target_: modular_policy.env_runner.rlbench_runner.RlbenchRunner
  task_name: mt4
  n_test: 80
  n_test_vis: 8
  n_obs_steps: ${n_obs_steps}
  n_action_steps: ${n_action_steps}
  fps: 10
  n_parallel_envs: 8
  image_size: 128
  num_points: ${oc.select:shape_meta.obs.fused_pointcloud.shape.0, null}
  enable_depth: True
  enable_dino: True
  camera_names: ['front', 'wrist', 'overhead']
  robot_state_ports:
    - joint_positions
    - gripper_joint_positions
  max_episode_steps: 250
  zarr_path: ${task.dataset.zarr_path}
  image_scale: 1.0


dataset:
  _target_: modular_policy.dataset.rlbench_dataset.RlbenchDataset
  zarr_path: data/rlbench/mt4_expert_${training.num_demo}.zarr
  obs_keys:
    - front_rgb
    - wrist_rgb
    - overhead_rgb
    - joint_positions
    - gripper_joint_positions
    - fused_pointcloud
    - fused_dino
  action_key: action
  horizon: ${horizon}
  pad_before: ${eval:'${n_obs_steps}-1'}
  pad_after: ${eval:'${n_action_steps}-1'}
  seed: 42
  val_ratio: 0.1
  max_train_episodes: null
  image_scale: 1.0
